
#block-contact-info-contact-info-contact-details {
  li {
    margin: 8px 0;
  }

  i {
    display: inline-block;
    height: 19px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }

  a {
    display: inline-block;
    height: 19px;
    line-height: 19px;
  }

  p {
    display: inline-block;
    vertical-align: top;
  }
}